/* Gestion du header */
.logo-img {
  height: 100px;
  border-radius: 50%;
}

.site-navbar {
  background-color: var(--primary-color-cust);
}

.ftaw-user {
  font-size: 30px;
}

.icon-menu {
  color: var(--white-color-cust) !important;
}

/* Gestion du footer */
.cust-footer {
  background-color: var(--primary-color-cust);
  color: var(--white-color-cust);

  p {
    color: var(--white-color-cust);
  }
}

// Burger menu plus gros
.icon-menu {
  font-size: 45px;
}

.site-mobile-menu,
.site-mobile-menu-header,
.site-mobile-menu-body {
  background-color: var(--white-color-cust);
}

@media (max-width: 988px) {
  .logo-img {
    height: 80px;
  }
}
