// Gestion de la page home

.home-cust-container {
  p {
    color: var(--dark-blue);
  }

  .home-title-cust {
    color: var(--accent-color);
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  h1 {
    font-size: 45px;
  }

  .img-home-cust {
    height: 500px;
    width: 300px;
    margin-right: 15px;
  }

  .img-home-cust-second {
    width: 400px;
  }

  .card-cust {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    p {
      font-size: 20px;
    }
  }

  .cac-title-home {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 20px 0;
  }
}

//Gestion de la page register

.home-container {
  display: flex;
  height: 100%;
  width: 100%;

  p {
    color: var(--dark-blue) !important;
    font-size: 29px !important;
  }

  .home-left,
  .home-right {
    color: var(--accent-color) !important;
  }
}

.container-btn {
  display: flex;
  justify-content: flex-end;
}

.home-btn {
  cursor: pointer;
  width: 150px;
  display: inline-block;
  font-weight: 400;
  color: var(--dark-blue);
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: var(--accent-color);
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  margin: 4px 2px;

  &:hover {
    background-color: white;
  }
}

.home-left {
  background-color: var(--grey-color-cust);
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .left-cont {
    display: flex;
    flex-direction: column;
    width: 70%;
  }
}

.home-right {
  background-color: var(--primary-color-cust-80);
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .right-cont {
    display: flex;
    flex-direction: column;
    width: 70%;
  }
}

@media (max-width: 724px) {
  .home-container {
    flex-direction: column;
  }

  .home-left,
  .home-right {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 10px;
  }
}

//Gestion de la page Services
.container-services {
  .title-cust {
    display: flex;
    justify-content: center;
    margin: 50px 0;
  }

  h2 {
    color: var(--accent-color);
  }

  p {
    color: var(--dark-blue) !important;
  }
}

.register-title {
  display: flex;
  justify-content: center;
  background: linear-gradient(
    to right,
    var(--grey-color-cust) 50%,
    var(--primary-color-cust-80) 50%
  ) !important;
  color: white !important;
  margin-bottom: 0;
  padding-top: 20px;
  font-size: 60px;
}

.cac-title-home {
  font-size: 30px;
  font-weight: 250px;

  a {
    color: var(--accent-color);
  }
}
